@page "/gift-list"
@using DigitalGarden.Shared.Components.Controls

<PageTitle>Gift List</PageTitle>
<NoRobotsHeadContent />

<div class="container centered-x" style="margin-top: 10rem;">
    <StaticCard ShowSheen>
        <HeaderFragment>
            <h1>🎁 Gift List Plz 🎁</h1>
        </HeaderFragment>
        <BodyFragment>
            <h3 class="gift-title">Gadgets</h3>
            <ul class="gift-list">
                <li><Anchor Url="https://secrid.com/en-gb" Text="Any Black Wallet from Secrid" /></li>
            </ul>

            <h3 class="gift-title">Clothes</h3>
            <ul class="gift-list">
                <li><Anchor Url="https://www2.hm.com/en_gb/productpage.0970819117.html" Text="(M) Loose Fit Hoodie (Navy Blue)" /></li>
                <li><Anchor Url="https://www2.hm.com/en_gb/productpage.0970819007.html" Text="(M) Loose Fit Hoodie (Light Grey)" /></li>
                <li><Anchor Url="https://www2.hm.com/en_gb/productpage.0970819114.html" Text="(M) Loose Fit Hoodie (Plum)" /></li>
                <li><Anchor Url="https://www.marksandspencer.com/7pk-pure-cotton-crew-neck-t-shirts/p/clp60591761?color=WHITEMIX#intid=pid_pg1pip48g4r2c3%7Cprodflag_plp_ts_QP_100+" Text="(S) 7-pack T-Shirts" /></li>
            </ul>

            <h3 class="gift-title">Edibles</h3>
            <ul class="gift-list">
                <li><Anchor Url="https://thecheddarspiritco.co.uk/cheddar-rum/" Text="Cheddar Rum: The Honey One" /></li>
                <li><Anchor Url="https://thecheddarspiritco.co.uk/cheddar-rum/" Text="Cheddar Rum: Coffee Caramel" /></li>
                <li><Anchor Url="https://thecheddarspiritco.co.uk/cheddar-rum/" Text="Cheddar Rum: Banana" /></li>
                <li><Anchor Url="https://www.ocado.com/products/m-s-collection-salted-caramel-flavour-drinking-chocolate/673687011" Text="M&S Salted Caramel Hot Chocolate" /></li>
                <li><Anchor Url="https://www.ocado.com/products/m-s-collection-belgian-milk-drinking-chocolate/671529011" Text="M&S Belgian Hot Chocolate" /></li>
                <li><Anchor Url="https://www.hotelchocolat.com/uk/peppermint-hot-chocolate.html" Text="Hotel Chocolat Peppermint Sachets" /></li>
                <li><Anchor Url="https://www.hotelchocolat.com/uk/hot-chocolate-variety-pack.html?cgid=drinking-chocolate" Text="Hotel Chocolat Variety Sachets" /></li>
                <li><Anchor Url="https://www.hotelchocolat.com/uk/banana-cold-drinking-chocolate.html" Text="Hotel Chocolat Cold Banana Sachets" /></li>
                <li><Anchor Url="https://knoops.com/uk/collections/chocolate/products/41-milk-chocolate-honeycomb" Text="Knoops Chocolate Honeycomb Flakes" /></li>
                <li><Anchor Url="https://knoops.com/uk/collections/chocolate/products/milk-chocolate-flakes" Text="Knoops Chocolate Flakes" /></li>
                <li><Anchor Url="https://www.ocado.com/products/after-eight-dark-mint-chocolate-fondants/615060011" Text="After Eight Fondants" /></li>
                <li><Anchor Url="https://www.ocado.com/products/after-eight-mint-chocolate-thins-box/11367011" Text="After Eight Thins" /></li>
                <li><Anchor Url="https://www.ocado.com/products/m-s-collection-lightly-salted-caramels/512533011" Text="M&S Lightly Salted Caramels" /></li>
                <li><Anchor Url="https://www.ocado.com/products/terry-s-minis-mint-crisp/640734011" Text="Terry's Chocolate Mint Crisp" /></li>
            </ul>

            <h3 class="gift-title">Care</h3>
            <ul class="gift-list">
                <li><Anchor Url="https://www.marksandspencer.com/search?searchTerm=monte+and+wilde&filter=Categories%253DSC_Level_1_462464" Text="Monte & Wilde Eau De Toilette" /></li>
                <li><Anchor Url="https://www.amazon.co.uk/Oral-B-Ultimate-Clean-Toothbrush-Counts/dp/B089TQLLCQ/ref=sr_1_8?crid=H3LL97F792SP&dib=eyJ2IjoiMSJ9.DYm2vsvtJ0DYzV2GjQqfbJzi2eFuIuilgzlKavAdkDTV9HEPcRbbxk29hB7d9Hd2rko565KEBcxQaCqORSXHHtSkqqYZabF-Ehwm2IR8sMyn5p2yjbJFxNNG5c0JqoCEmbbA2J5c7AdJDKlnYS8B-a0Qore2OiUY2iELELqO5I2yTGvLPeXFMSz1ohV2iTstLy8rrjxUxWTX5xJD2rL3VY_rNTM-Vnm0l3HwyuZo2D68v9jDbZyBQHvesbFx9pZHa-o2zKnIiGlUbjy1HRisAMLlc3HKcswwg7U845U2KM8.s4iwPjWnMRX1ciu39ZTAZcSCLCjFcmYmrushb8mDdV8&dib_tag=se&keywords=oral%2Bb%2BiO%2Btoothbrush%2Bhead&qid=1762107390&sprefix=oral%2Bb%2Bio%2Btoothbrush%2Bhead%2Caps%2C119&sr=8-8&th=1" Text="Oral-B iO Heads (Black)" /></li>
            </ul>

            <h3 class="gift-title">Misc</h3>
            <ul class="gift-list">
                <li><Anchor Url="https://www.marksandspencer.com/l/gifts/gift-cards#intid=gnav_gifts_core_all-gift-cards_gift-cards" Text="M&S Gift Card" /></li>
                <li><Anchor Url="https://www.help99.co" Text="Donate to the AFU 💛💙" /></li>
            </ul>
        </BodyFragment>
    </StaticCard>
</div>
