@page "/xmas"
@using DigitalGarden.Shared.Components.Controls

<PageTitle>Gift List</PageTitle>
<NoRobotsHeadContent />

<div class="grid-12">
    <div class="col-s-12">
        <StaticCard ShowSheen>
            <HeaderFragment>
                <h1>🎁 Gift List Plz 🎁</h1>
            </HeaderFragment>
            <BodyFragment>
                <div class="grid-12">
                    <h3 class="col-s-12">Gadgets</h3>
                    <div class="col-s-11 col-start-s-2">
                        <ul class="gift-list">
                            <li><Anchor Url="https://secrid.com/en-gb" Text="Any Black Wallet from Secrid" /></li>
                            <li><Anchor Url="https://www.amazon.co.uk/Kitchen-Knife-Set-Rotating-Block/dp/B08YYXZ1TJ?tag=theevenstan-21&ascsubtag=ES%7C1051035%7CB08YYXZ1TJ&geniuslink=true&th=1" Text="Stainless Steel Nuovva Knife Set" /></li>
                            <li><Anchor Url="https://www.amazon.co.uk/CafePress-Computer-Programmer-Ceramic-Coffee/dp/B07SSCKWFS/ref=sr_1_57?crid=28HCVP33MYZZ4&dib=eyJ2IjoiMSJ9.YU7At2HNM3cqv8p_aOA56pmGec7dsrMqBP3p848_MyjPnqSxdZWXs7hgw_1n769xzPWueGnzmp5EZ6GWn2gDMcjQIuNBsdr1TakMePU0oLVHZeHCH6Bc33a8BzhwTxbQAXcyG2HWeKBIJhoZ3UdFXlHM-KM63Q6SOulF89zmomk21gfZGxut6i-kxw2G7Rd4CxllGburREVxtSFS92WqGNV1neCqOK4hd1M6YdTdYxEdu5xaM6qhyv8ksPvLVTIElarNTOTgm9bLWF4_v4TUJRWw_BX4e0OaoOlR4b7Odso.HgSXnnMNsZ0fSr2BlLTSMC6VTOxQ0TqyuvCMcK-HMdU&dib_tag=se&keywords=programmer%2Blarge%2Bmug&qid=1762376768&sprefix=programmer%2Blarge%2Bmug%2Caps%2C88&sr=8-57&th=1" Text="Developer Evolution Mug With Black Inside" /></li>
                            <li><Anchor Url="https://ugearsmodels.com/products/mechanical-tellurion?_pos=9&_fid=8b6af3dc3&_ss=c" Text="Mechanical Tellurian Wooden Puzzle" /></li>
                            <li><Anchor Url="https://ugearsmodels.com/collections/gifts-for-him/products/nasa-space-shuttle-discovery" Text="NASA Space Shuttle Wooden Puzzle" /></li>
                        </ul>
                    </div>                    

                    <h3 class="col-s-12">Clothes</h3>
                    <div class="col-s-11 col-start-s-2">
                        <ul class="gift-list">
                            <li><Anchor Url="https://www2.hm.com/en_gb/productpage.0970819117.html" Text="(Medium) Loose Fit Hoodie (Navy Blue)" /></li>
                            <li><Anchor Url="https://www2.hm.com/en_gb/productpage.0970819007.html" Text="(Medium) Loose Fit Hoodie (Light Grey)" /></li>
                            <li><Anchor Url="https://www2.hm.com/en_gb/productpage.0970819114.html" Text="(Medium) Loose Fit Hoodie (Plum)" /></li>
                            <li><Anchor Url="https://www.marksandspencer.com/7pk-pure-cotton-crew-neck-t-shirts/p/clp60591761?color=WHITEMIX#intid=pid_pg1pip48g4r2c3%7Cprodflag_plp_ts_QP_100+" Text="(Medium) 7-pack T-Shirts" /></li>
                        </ul>
                    </div>

                    <h3 class="col-s-12">Edibles</h3>
                    <div class="col-s-11 col-start-s-2">
                        <ul class="gift-list">
                            <li><Anchor Url="https://thecheddarspiritco.co.uk/cheddar-rum/" Text="Cheddar Rum: The Honey One" /></li>
                            <li><Anchor Url="https://thecheddarspiritco.co.uk/cheddar-rum/" Text="Cheddar Rum: Coffee Caramel" /></li>
                            <li><Anchor Url="https://thecheddarspiritco.co.uk/cheddar-rum/" Text="Cheddar Rum: Banana" /></li>
                            <li><Anchor Url="https://www.ocado.com/products/m-s-collection-salted-caramel-flavour-drinking-chocolate/673687011" Text="M&S Salted Caramel Hot Chocolate" /></li>
                            <li><Anchor Url="https://www.ocado.com/products/m-s-collection-belgian-milk-drinking-chocolate/671529011" Text="M&S Belgian Hot Chocolate" /></li>
                            <li><Anchor Url="https://www.hotelchocolat.com/uk/peppermint-hot-chocolate.html" Text="Hotel Chocolat Peppermint Sachets" /></li>
                            <li><Anchor Url="https://www.hotelchocolat.com/uk/hot-chocolate-variety-pack.html?cgid=drinking-chocolate" Text="Hotel Chocolat Variety Sachets" /></li>
                            <li><Anchor Url="https://www.hotelchocolat.com/uk/banana-cold-drinking-chocolate.html" Text="Hotel Chocolat Cold Banana Sachets" /></li>
                            <li><Anchor Url="https://knoops.com/uk/collections/chocolate/products/41-milk-chocolate-honeycomb" Text="Knoops Chocolate Honeycomb Flakes" /></li>
                            <li><Anchor Url="https://knoops.com/uk/collections/chocolate/products/milk-chocolate-flakes" Text="Knoops Chocolate Flakes" /></li>
                            <li><Anchor Url="https://www.ocado.com/products/after-eight-dark-mint-chocolate-fondants/615060011" Text="After Eight Fondants" /></li>
                            <li><Anchor Url="https://www.ocado.com/products/after-eight-mint-chocolate-thins-box/11367011" Text="After Eight Thins" /></li>
                            <li><Anchor Url="https://www.ocado.com/products/m-s-collection-lightly-salted-caramels/512533011" Text="M&S Lightly Salted Caramels" /></li>
                            <li><Anchor Url="https://www.ocado.com/products/terry-s-minis-mint-crisp/640734011" Text="Terry's Chocolate Mint Crisp" /></li>
                        </ul>
                    </div>

                    <h3 class="col-s-12">Care</h3>
                    <div class="col-s-11 col-start-s-2">
                        <ul class="gift-list">
                            <li><Anchor Url="https://www.marksandspencer.com/search?searchTerm=monte+and+wilde&filter=Categories%253DSC_Level_1_462464" Text="Monte & Wilde Eau De Toilette" /></li>
                            <li><Anchor Url="https://www.amazon.co.uk/Oral-B-Ultimate-Clean-Toothbrush-Counts/dp/B089TQLLCQ/ref=sr_1_8?crid=H3LL97F792SP&dib=eyJ2IjoiMSJ9.DYm2vsvtJ0DYzV2GjQqfbJzi2eFuIuilgzlKavAdkDTV9HEPcRbbxk29hB7d9Hd2rko565KEBcxQaCqORSXHHtSkqqYZabF-Ehwm2IR8sMyn5p2yjbJFxNNG5c0JqoCEmbbA2J5c7AdJDKlnYS8B-a0Qore2OiUY2iELELqO5I2yTGvLPeXFMSz1ohV2iTstLy8rrjxUxWTX5xJD2rL3VY_rNTM-Vnm0l3HwyuZo2D68v9jDbZyBQHvesbFx9pZHa-o2zKnIiGlUbjy1HRisAMLlc3HKcswwg7U845U2KM8.s4iwPjWnMRX1ciu39ZTAZcSCLCjFcmYmrushb8mDdV8&dib_tag=se&keywords=oral%2Bb%2BiO%2Btoothbrush%2Bhead&qid=1762107390&sprefix=oral%2Bb%2Bio%2Btoothbrush%2Bhead%2Caps%2C119&sr=8-8&th=1" Text="Oral-B iO Heads (Black)" /></li>
                        </ul>
                    </div>

                    <h3 class="col-s-12">Misc</h3>
                    <div class="col-s-11 col-start-s-2">
                        <ul class="gift-list">
                            <li><Anchor Url="https://www.marksandspencer.com/l/gifts/gift-cards#intid=gnav_gifts_core_all-gift-cards_gift-cards" Text="M&S Gift Card" /></li>
                            <li><Anchor Url="https://www.help99.co" Text="Donate to the AFU 💛💙" /></li>
                        </ul>
                    </div>
                </div>
            </BodyFragment>
        </StaticCard>
    </div>
</div>
