@page "/"

<PageTitle>Home</PageTitle>

<div style="width:100%;height:100vh;">
    <div class="container centered">
        <StaticCard ShowSheen>
            <HeaderFragment>
                <h1>Home</h1>
            </HeaderFragment>
            <BodyFragment>
                <p>This is under construction; how did you get on-site without your helmet?</p>
            </BodyFragment>
        </StaticCard>
    </div>
</div>

<div style="width:100%;height:100vh;">
    <div class="container centered">
        <StaticCard ShowSheen>
            <HeaderFragment>
                <h1>Card</h1>
            </HeaderFragment>
            <BodyFragment>
                <p>This is another card purely for scolling reasons.</p>
            </BodyFragment>
        </StaticCard>
    </div>
</div>
