@page "/"

<PageTitle>Home</PageTitle>

<div class="grid-12">
    <div class="centered">
        <StaticCard ShowSheen>
            <HeaderFragment>
                <h1>Home</h1>
            </HeaderFragment>
            <BodyFragment>
                <p style="text-align: center;">This is under construction; how did you get on-site without your helmet?</p>
            </BodyFragment>
        </StaticCard>
    </div>
</div>

<div class="grid-12">
    <div class="centered">
        <StaticCard ShowSheen>
            <HeaderFragment>
                <h1>Card</h1>
            </HeaderFragment>
            <BodyFragment>
                <p style="text-align: center;">This is another card purely for scolling reasons.</p>
            </BodyFragment>
        </StaticCard>
    </div>
</div>
