@page "/"

<PageTitle>Home</PageTitle>

<PageHeroCard>
    <HeaderFragment>
        <h1>Home</h1>
    </HeaderFragment>
    <BodyFragment>
        <p>This is under construction; how did you get on-site without your helmet?</p>
    </BodyFragment>
</PageHeroCard>
