@page "/"

<PageTitle>Home</PageTitle>

<div class="container centered">
    <StaticCard ShowSheen>
        <HeaderFragment>
            <h1>Home</h1>
        </HeaderFragment>
        <BodyFragment>
            <p>This is under construction; how did you get on-site without your helmet?</p>
        </BodyFragment>
    </StaticCard>
</div>
