@page "/wip"

<PageTitle>WIP</PageTitle>

<div class="grid-12">
    <div class="centered">
        <StaticCard ShowSheen>
            <HeaderFragment>
                <h1>🚧 WIP 🚧</h1>
            </HeaderFragment>
            <BodyFragment>
                <p>This application is under construction. Watch this space!</p>
            </BodyFragment>
        </StaticCard>
    </div>
</div>
