@page "/wip"

<PageTitle>WIP</PageTitle>

<div class="container centered">
    <div class="card styled m-4">
        <div class="header mt-4">
            <h1>🚧 WIP 🚧</h1>
        </div>
        
        <hr/>

        <div class="body m-4">
            <p>This application is under construction. Watch this space!</p>
        </div>
    </div>
</div>
