@page "/wip"

<PageTitle>WIP</PageTitle>

<PageHeroCard>
    <HeaderFragment>
        <h1>🚧 WIP 🚧</h1>
    </HeaderFragment>
    <BodyFragment>
        <p>This application is being materialised. Watch this space!</p>
    </BodyFragment>
</PageHeroCard>
