@page "/beacons"
@rendermode InteractiveAuto

<PageTitle>Beacons</PageTitle>

<div class="grid-12">
    <div class="centered">
        <StaticCard ShowSheen>
            <HeaderFragment>
                <h1>Beacons</h1>
            </HeaderFragment>
            <BodyFragment>
                <p>A collection of links for various tools, sources, resources, and other content that I make use of.</p>
                <p>Figured if I find them useful then others may, too!</p>
            </BodyFragment>
        </StaticCard>
    </div>
</div>
