@page "/"
@rendermode InteractiveAuto

<PageTitle>Home</PageTitle>

<WaitForInteractivity>
    <PageHeroCard>
        <HeaderFragment>
            <h1>Home</h1>
        </HeaderFragment>
        <BodyFragment>
            <p>This is under construction; how did you get on-site without your helmet?</p>
        </BodyFragment>
    </PageHeroCard>
    
    <div class="grid-12 mt-4 mb-6">
        <div class="quote-card col-12 col-start-m-3 col-m-8 py-3 px-4">
            @if (QuoteOfTheDay is null)
            {
                <PlanetSpinner />
            }
            else
            {
                <blockquote>
                    <p>@QuoteOfTheDay.Text</p>
                    <cite>@QuoteOfTheDay.Author</cite>
                </blockquote>
            }            
        </div>
    </div>    
</WaitForInteractivity>
