@page "/journey-logs"
@rendermode InteractiveAuto

<WaitForInteractivity>
    <PageHeaderContent PageTitle="Journey Logs" HeaderText="Journey Logs">
        <BodyFragment>
            <p>I've always liked the idea of documenting my past while I live my present so I can look back in the future.</p>
            <p>This section allows me to that in a structured way, covering my professional and personal life, as much as I am willing to share in a public space.</p>
            <p>It's important to be proud of what you've been through and place on a pedestal what you feel belongs there.</p>
        </BodyFragment>
    </PageHeaderContent>

    <div class="grid-12">
        <div class="col-12 col-start-m-3 col-m-8">
            <div class="w-100 card link-with-content">
                <p>Foo</p>
                <p>Bar</p>
            </div>
        </div>
    </div>

    <PlanetSpinner/>
</WaitForInteractivity>
