@page "/journey-logs"
@rendermode InteractiveAuto

<PageTitle>Journey Logs</PageTitle>

<WaitForInteractivity>
    <PageHeroCard>
        <HeaderFragment>
            <h1>Journey Logs</h1>
        </HeaderFragment>
        <BodyFragment>
            <p>I've always liked the idea of documenting my past while I live my present so I can look back in the future.</p>
            <p>This section allows me to that in a structured way, covering my professional and personal life, as much as I am willing to share in a public space.</p>
            <p>It's important to be proud of what you've been through and place on a pedestal what you feel belongs there.</p>
        </BodyFragment>
    </PageHeroCard>
</WaitForInteractivity>
