<div class="mouse-over-cards mt-2 grid-12">
    @foreach (var card in Cards)
    {
        <div class="col-6 col-m-4 col-l-3 card">
            <div class="icon-container">
                <i class="@card.FontAwesomeType @card.FontAwesomeIcon fa-xl"></i>
            </div>
            <div class="info-container">
                <h6 class="mb-2">@card.Title</h6>
                @if (!string.IsNullOrWhiteSpace(card.Description))
                {
                    <p class="muted">@card.Description</p>
                }
            </div>
        </div>
    }
</div>