@using Microsoft.AspNetCore.Components.Routing

<nav>
    <div class="nav-container">
        <div class="avatar">
            <NavLink href="/" Match="NavLinkMatch.All">
                <img alt="Avatar" src="https://media.khobdey.co.uk/Avatar.png" />
            </NavLink>
        </div>
    </div>
</nav>
