@using Microsoft.AspNetCore.Components.Routing

<nav>
    <div class="nav-container">
        <div class="avatar">
            <NavLink href="/" Match="NavLinkMatch.All" data-enhance-nav="false">
                <img alt="Avatar" src="/Avatar.png" />
            </NavLink>
        </div>
    </div>
</nav>
