@using Microsoft.AspNetCore.Components.Routing

@rendermode InteractiveServer

<nav>
    <div class="nav-container">
        <div class="avatar">
            <NavLink href="/" Match="NavLinkMatch.All" @onclick="LinkClicked">
                <img alt="Avatar" src="https://media.khobdey.co.uk/Avatar.png" />
            </NavLink>
        </div>

        <div class="items">
            <ul class="@NavListClasses">
                <li>
                    <NavLink href="/beacons" Match="NavLinkMatch.All" @onclick="LinkClicked">
                        Beacons
                    </NavLink>
                </li>
            </ul>
        </div>

        <div class="menu-button-container" @onclick="MenuToggleClicked">
            <span class="@MenuSpanClasses">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </div>
</nav>
