<div class="grid-12">
    <div class="col-s-12 centered">
        <StaticCard ShowSheen CenterBodyText>
            <HeaderFragment>
                @HeaderFragment
            </HeaderFragment>
            <BodyFragment>
                @BodyFragment
            </BodyFragment>
        </StaticCard>
    </div>
</div>
