<PageTitle>KH | @PageTitle</PageTitle>

<div class="page-head">
    <div class="d-flex flex-row">
        <div class="header @HeaderColorClass">
            <h1>@HeaderText</h1>
        </div>
        <div class="content">
            @if (BodyFragment != null)
            {
                @BodyFragment
            }
        </div>
    </div>
</div>