<div class="@CardClasses">
    <div class="@HeaderClasses">
        @if (HeaderFragment is not null)
        {
            @HeaderFragment
        }
    </div>

    @if (!HideHorizontalRules)
    {
        <hr />
    }

    <div class="@BodyClasses">
        @if (BodyFragment is not null)
        {
            @BodyFragment
        }
    </div>
</div>
