<div class="link-title-container" @onclick="OnTitleClicked">
    <h5 class="link-title">@Title</h5>
    <div class="flex-1" />
    <div class="link-favicon" style="background-image: url(@FaviconAddress)" />
</div>