@typeparam TItem

<div class="accordion">
    @foreach (var item in Items)
    {
        <div class="tab @GetItemActiveClass(item)" @onclick="_ => OnItemClicked(item)">
            <div class="tab-header">
                @if (TabHeaderFragment is not null)
                {
                    @TabHeaderFragment(item)
                }
            </div>
            <div class="tab-content">
                @if (TabContentFragment is not null)
                {
                    @TabContentFragment(item)
                }
            </div>
        </div>
    }
</div>
