<div class="w-100 card link-with-content @PulseClass" @onfocus="OnFocus" @onmouseenter="OnMouseEnter" @onanimationend="OnAnimationEnd" @onclick="OnClicked">
    <div class="link-icon">
        <i class="fa-solid @FontAwesomeIcon fa-2xl"></i>
    </div>
    <div class="text-content d-flex flex-col flex-1">
        <h5 class="link-name mb-1">@Name</h5>
        <p class="muted">@Description</p>
    </div>
    <div class="arrow-container">
        <i class="fa-solid fa-angle-right fa-2xl"></i>
    </div>
</div>
