.accordion {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: var(--rspacing-4);
    backdrop-filter: blur(1px);
    background-color: transparent;
}

    .accordion .tab:first-child .tab-header {
        border-top-left-radius: var(--rspacing-4);
        border-top-right-radius: var(--rspacing-4);
    }

    .accordion .tab:not(.active):last-child .tab-header {
        border-bottom-left-radius: var(--rspacing-4);
        border-bottom-right-radius: var(--rspacing-4);
        transition: border-radius 0.75s ease-in-out;
    }

    .accordion .tab.active:last-child .tab-content {
        border-bottom-left-radius: var(--rspacing-4);
        border-bottom-right-radius: var(--rspacing-4);
        transition: border-radius 0.75s ease-in-out;
    }

    .accordion .tab .tab-header {
        cursor: pointer;
        background-color: var(--background-black);
    }

        .accordion .tab .tab-header:hover {
            background-color: var(--hover-color);
        }

.accordion .tab .tab-header * {
    cursor: pointer;
}

    .accordion .tab .tab-content {
        height: fit-content;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }

.accordion .tab:not(.active) .tab-content {
    max-height: 0;
}

    .accordion .tab.active .tab-content {
        max-height: 200vh;
    }

    .accordion .tab .tab-content .tab-content-container {
        padding: var(--rspacing-3);
        border-left: var(--rspacing-3) solid var(--background-black);
        border-right: var(--rspacing-3) solid var(--background-black);
    }

        .accordion .tab .tab-content .tab-content-container:not(:last-child) {
            background-color: green;
        }

    .tab-header .data-label-area {
        padding: var(--rspacing-2);
        text-align: center;
    }

    .tab-header .data-label-area label {
        display: inline-block;
        font-size: var(--font-size-h4);
    }

        .tab-header .data-label-area .count-pill {
            position: absolute;
            right: var(--rspacing-2);
            align-items: center;
            justify-content: center;
            padding: 0.1rem 0.6rem;
            border-radius: 999px;
            font-size: 0.75rem;
            background-color: var(--accent-color, #28a745);
            color: var(--pill-text-color, #ffffff);
            text-align: center;
            white-space: nowrap;
            float: right;
        }
