:root {
    --card-sheen-background: linear-gradient(174deg, var(--bg-light-transparent) 60px, var(--bg-dark-transparent) 61px);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
    border: 1px solid var(--border-transparent);
    border-radius: var(--rspacing-4);
}

    .card .header {
        width: 100%;
        text-align: center;
    }

    .card hr {
        height: 2px;
        margin: var(--rspacing-2);
        width: calc(100% - var(--rspacing-5) - var(--rspacing-5));
        background-color: var(--border-transparent);
    }

    .card .body {
        width: 100%;
    }

.card.sheen {
    background: var(--card-sheen-background);
    border-width: 3px;
    border-color: var(--highlight);
}

.quote-card {
    background-color: transparent;
}

    .quote-card blockquote {
        display: inline-block;
        width: 100%;
        color: var(--text-muted);
    }

        .quote-card blockquote q {
            display: inline-block;
            text-align: center;
            width: 100%;
        }

            .quote-card blockquote q span {
                display: inline-block;
                will-change: opacity, filter;
                opacity: 0;
                filter: blur(5px);
                transition: filter 0.5s ease-in, opacity 0.5s ease-in;
            }

                .quote-card blockquote q span.show {
                    opacity: 1;
                    filter: blur(0px);
                }

            .quote-card blockquote q span:not(:last-child) {
                margin-right: 0.25rem;
            }

    .quote-card cite {
        display: block;
        color: var(--text);
        font-style: italic;
        float: right;
        will-change: opacity, filter;
        opacity: 0;
        filter: blur(5px);
        transition: filter 0.5s ease-in, opacity 0.5s ease-in;
    }

        .quote-card cite.show {
            opacity: 1;
            filter: blur(0px);
        }

        .quote-card cite:before {
            content: "— ";
            color: var(--text-muted);
        }

.page-head {
    backdrop-filter: blur(1px);
    border-radius: var(--rspacing-4);
    display: flex;
    justify-content: center;
    margin-bottom: var(--rspacing-6);
}

    .page-head .header {
        display: table-caption;
        text-align: end;
        border-right-color: var(--border);
        border-right-style: double;
        border-right-width: 3px;
        padding-right: var(--rspacing-2);
        align-content: center;
    }

    .page-head .content {
        align-content: center;
        padding-left: var(--rspacing-2);
    }

.card.link-with-content {
    border-width: 3px;
    border-color: var(--info);
    flex-direction: row;
    align-items: stretch;
}

    .card.link-with-content:hover {
        cursor: pointer;
        border-color: var(--highlight);
    }

    .card.link-with-content.pulse-A {
        animation: pulse-A 0.75s;
        box-shadow: 0 0 0 2em transparent;
    }

    .card.link-with-content.pulse-B {
        animation: pulse-B 0.75s;
        box-shadow: 0 0 0 2em transparent;
    }

    .card.link-with-content .link-icon {
        display: flex;
        align-items: center;
        padding-left: var(--rspacing-2);
        will-change: margin-right;
        margin-right: var(--rspacing-2);
        transition: margin-right 0.25s ease-in;
    }

    .card.link-with-content:hover .link-icon {
        margin-right: 0;
    }

        .card.link-with-content .link-icon i {
            will-change: margin-left;
            margin-left: 0;
            transition: margin-left 0.25s ease-in;
        }

        .card.link-with-content:hover .link-icon i {
            margin-left: var(--rspacing-2);
        }

    .card.link-with-content .text-content {
        height: 100%;
        margin: var(--rspacing-2);
    }

    .card.link-with-content:hover .text-content .link-name {
        color: var(--highlight);
    }

    .card.link-with-content .arrow-container {
        display: flex;
        align-items: center;
        will-change: box-shadow, color;
        background-color: transparent;
        border-top-right-radius: var(--rspacing-2);
        border-bottom-right-radius: var(--rspacing-2);
        color: var(--text);
        transition: color 0.5s ease-in, box-shadow 0.5s ease-in;
    }

    .card.link-with-content:hover .arrow-container {
        color: var(--bg-dark);
        box-shadow: inset -6.5em 0 0 0 var(--highlight);
    }

@keyframes pulse-A {
    0% {
        box-shadow: 0 0 0 0 var(--highlight);
    }

    100% {
        box-shadow: 0 0 0 2em transparent;
    }
}

@keyframes pulse-B {
    0% {
        box-shadow: 0 0 0 0 var(--highlight);
    }

    100% {
        box-shadow: 0 0 0 2em transparent;
    }
}

.mouse-over-cards .card {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--rspacing-3);
}

    .mouse-over-cards .card .icon-container {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: var(--rspacing-2);
        color: var(--info);
    }

    .mouse-over-cards .card .info-container {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
