:root {
    --card-dark-main: #00000085;
    --card-dark-top: #12121285;
    --card-line-color: var(--outline-color);
    --card-background: linear-gradient(6deg, var(--card-dark-main) 70%, var(--card-dark-top) 70.5%);
}

.container.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container.centered-x {
    display: flex;
    justify-content: center;
}

.card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
    border: 1px solid var(--card-line-color);
    border-radius: var(--rspacing-4);
}

    .card .header {
        width: 100%;
        text-align: center;
    }

    .card hr {
        height: 2px;
        margin: var(--rspacing-2);
        width: 75%;
        background-color: var(--card-line-color);
    }

    .card .body {
        width: 100%;
    }

.card.sheen {
    background: var(--card-background);
    border-width: 2px;
}
