:root {
    --card-sheen-background: linear-gradient(174deg, var(--bg-light-transparent) 60px, var(--bg-dark-transparent) 61px);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
    border: 1px solid var(--border-transparent);
    border-radius: var(--rspacing-4);
}

    .card .header {
        width: 100%;
        text-align: center;
    }

    .card hr {
        height: 2px;
        margin: var(--rspacing-2);
        width: calc(100% - var(--rspacing-5) - var(--rspacing-5));
        background-color: var(--border-transparent);
    }

    .card .body {
        width: 100%;
    }

.card.sheen {
    background: var(--card-sheen-background);
    border-width: 3px;
    border-color: var(--highlight);
}

.quote-card {
    background-color: transparent;
}

    .quote-card blockquote {
        display: inline-block;
        width: 100%;
        color: var(--text-muted);
    }

        .quote-card blockquote q {
            display: inline-block;
            text-align: center;
            width: 100%;
        }

            .quote-card blockquote q span {
                display: inline-block;
                will-change: opacity, filter;
                opacity: 0;
                filter: blur(5px);
                transition: filter 0.5s ease-in, opacity 0.5s ease-in;
            }

                .quote-card blockquote q span.show {
                    opacity: 1;
                    filter: blur(0px);
                }

            .quote-card blockquote q span:not(:last-child) {
                margin-right: 0.25rem;
            }

    .quote-card cite {
        display: block;
        color: var(--text);
        font-style: italic;
        float: right;
        will-change: opacity, filter;
        opacity: 0;
        filter: blur(5px);
        transition: filter 0.5s ease-in, opacity 0.5s ease-in;
    }

        .quote-card cite.show {
            opacity: 1;
            filter: blur(0px);
        }

        .quote-card cite:before {
            content: "— ";
            color: var(--text-muted);
        }
