:root {
    --card-sheen-background: linear-gradient(174deg, var(--bg-light-transparent) 60px, var(--bg-dark-transparent) 61px);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
    border: 1px solid var(--border-transparent);
    border-radius: var(--rspacing-4);
}

    .card .header {
        width: 100%;
        text-align: center;
    }

    .card hr {
        height: 2px;
        margin: var(--rspacing-2);
        width: calc(100% - var(--rspacing-5) - var(--rspacing-5));
        background-color: var(--border-transparent);
    }

    .card .body {
        width: 100%;
    }

.card.sheen {
    background: var(--card-sheen-background);
    border-width: 3px;
    border-color: var(--highlight);
}

.quote-card {
    background-color: transparent;
    backdrop-filter: blur(1px);
}

    .quote-card blockquote {
        display: inline-block;
        color: var(--text-muted);
    }

    .quote-card cite {
        display: block;
        color: var(--text);
        font-style: italic;
        float: right;
    }

        .quote-card cite:before {
            content: "— ";
            color: var(--text-muted);
        }
