:root {
    --card-dark-main: #00000085;
    --card-dark-top: #12121285;
    --card-line-color: #FFFFFF20;
    --card-background: linear-gradient(6deg, var(--card-dark-main) 70%, var(--card-dark-top) 70.5%);
}

.container {
    height: 100%;
}

.container.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
    border-width: 1px;
    border-color: var(--card-line-color);
    border-radius: var(--rspacing-4);
    border-style: solid;
}

    .card hr {
        margin: var(--rspacing-2);
        width: 75%;
        height: 1px;
        background-color: var(--card-line-color);
    }

.card.sheen {
    background: var(--card-background);
    border-width: 2px;
}
