:root {
    --card-border-color: var(--border-color);
    --card-sheen-background: linear-gradient(6deg, var(--background-black) 70%, var(--background-dark-grey) 70.5%);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(1px);
    border: 1px solid var(--card-border-color);
    border-radius: var(--rspacing-4);
}

    .card .header {
        width: 100%;
        text-align: center;
    }

    .card hr {
        height: 2px;
        margin: var(--rspacing-2);
        width: calc(100% - var(--rspacing-5) - var(--rspacing-5));
        background-color: var(--card-border-color);
    }

    .card .body {
        width: 100%;
    }

.card.sheen {
    background: var(--card-sheen-background);
    border-width: 3px;
}
