/* Inspired by, and reverse engineered from, https://codepen.io/albizan/pen/mMWdWZ */
:root {
    --avatar-border-color: var(--border-color);
    --transparent-nav-color: rgb(from var(--white) r g b / 0.0);
    --nav-height: 3.5rem;
}

@media (min-width: 768px) {
    :root {
        --nav-height: 4.5rem;
    }
}

nav {
    height: var(--nav-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: var(--nav-height);
    text-align: center;
    z-index: 1000;
    background-color: var(--transparent-nav-color);
    border-bottom: 2px solid var(--transparent-nav-color);
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

    nav .nav-container {
        height: 100%;
    }

    nav .avatar {
        float: left;
        width: auto;
        height: auto;
        padding-left: var(--rspacing-6);
        padding-top: var(--rspacing-4);
        transition: padding-left 0.5s ease-in-out, padding-top 0.5s ease-in-out;
    }

        nav .avatar a {
            --avatar-border-color: var(--border-color);
        }

            nav .avatar a:hover {
                --avatar-border-color: var(--border-hover-color);
            }

            nav .avatar a img {
                width: calc(var(--nav-height) + 1rem);
                height: calc(var(--nav-height) + 1rem);
                border: 2px solid var(--avatar-border-color);
                border-radius: 50%;
                box-shadow: 0 0 6px 3px var(--avatar-border-color);
                transition: width 0.5s ease-in-out, height 0.5s ease-in-out, border-color 0.2s ease-in-out;
            }

    nav .items {
        width: 100%;
        font-size: var(--font-size-h5);
    }

        nav .items ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 0;
            overflow: hidden;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            position: absolute;
            background-color: rgb(from var(--background-color-darkest) r g b / 0.75);
            backdrop-filter: blur(4px);
            background-position: center top;
        }

            nav .items ul.menu-show {
                height: 100vh;
                overflow: inherit;
            }

        nav .items a:hover {
            color: var(--hover-color);
        }

        nav .items a.active {
            border-bottom-width: 3px;
            border-bottom-style: solid;
            border-color: var(--active-color);
        }

nav.affix {
    background-color: rgb(from var(--background-color-darkest) r g b / 0.75);
    border-color: var(--border-color);
    backdrop-filter: blur(4px);
}

    nav.affix .avatar {
        padding-left: var(--rspacing-5);
        padding-top: var(--rspacing-2);
    }

        nav.affix .avatar a img {
            width: calc(var(--nav-height) - 1rem);
            height: calc(var(--nav-height) - 1rem);
            border: 2px solid var(--avatar-border-color);
            border-radius: 50%;
            box-shadow: 0 0 6px 3px var(--avatar-border-color);
        }

    nav .menu-button-container {
        cursor: pointer;
        float: right;
        width: calc(var(--nav-height) - 1.6rem);
        margin-right: var(--rspacing-6);
        margin-top: calc((var(--rspacing-5) + var(--rspacing-6)) / 2);
        transition: margin-right 0.5s ease-in-out, margin-top 0.5s ease-in-out, width 0.5s ease-in-out;
    }

        nav .menu-button i {
            background-color: var(--font-default-color);
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
        }

        nav .menu-button:hover i {
            background-color: var(--hover-color);
        }

            nav .menu-button.interacted i:nth-child(1) {
                animation: outMenuBurgTop 0.5s backwards;
                animation-direction: reverse;
            }

            nav .menu-button.interacted.active i:nth-child(1) {
                animation: inMenuBurgTop 0.5s forwards;
            }

            nav .menu-button i:nth-child(2) {
                margin: 5px 0;
            }

            nav .menu-button.interacted i:nth-child(2) {
                margin: 5px 0;
                animation: outMenuBurgMid 0.5s backwards;
                animation-direction: reverse;
            }

            nav .menu-button.interacted.active i:nth-child(2) {
                animation: inMenuBurgMid 0.5s forwards;
            }

            nav .menu-button.interacted i:nth-child(3) {
                animation: outMenuBurgBottom 0.5s backwards;
                animation-direction: reverse;
            }

            nav .menu-button.interacted.active i:nth-child(3) {
                animation: inMenuBurgBottom 0.5s forwards;
            }

    nav.affix .menu-button-container {
        width: calc(var(--nav-height) - 1.8rem);
        margin-right: var(--rspacing-5);
        margin-top: calc((var(--rspacing-3) + var(--rspacing-4)) / 2);
    }

@media (min-width: 768px) {
    nav .menu-button-container {
        width: calc(var(--nav-height) - 2.5rem);
        margin-right: var(--rspacing-6);
        margin-top: calc((var(--rspacing-5) + var(--rspacing-6)) / 2);
    }

    nav.affix .menu-button-container {
        width: calc(var(--nav-height) - 2.5rem);
        margin-right: var(--rspacing-5);
        margin-top: calc((var(--rspacing-4) + var(--rspacing-5)) / 2);
    }
}

@media (min-width: 1024px) {
    nav .items {
        float: right;
        width: auto;
        height: calc(var(--nav-height) + 1rem);
        align-content: center;
        padding-right: var(--rspacing-6);
        transition: padding-right 0.5s ease, height 0.5s ease, font-size 0.5s ease;
    }

        nav .items ul {
            flex-direction: row;
            width: auto;
            height: auto;
            right: inherit;
            left: inherit;
            bottom: inherit;
            top: inherit;
            position: inherit;
            backdrop-filter: none;
            background-color: transparent;
            background-position: inherit;
        }

            nav .items ul li:not(:last-child) {
                margin-right: var(--rspacing-5);
            }

    nav.affix .items {
        height: calc(var(--nav-height) - 1rem);
        padding-right: var(--rspacing-5);
        font-size: var(--font-size-h6);
    }
    
    nav .menu-button {
        display: none;
    }
}

@keyframes inMenuBurgTop {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outMenuBurgTop {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(9px) rotate(0deg);
    }

    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inMenuBurgMid {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes outMenuBurgMid {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

@keyframes inMenuBurgBottom {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outMenuBurgBottom {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-9px) rotate(0deg);
    }

    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}
