/* Inspired by, and reverse-engineered from, https://codepen.io/sarazond/pen/LYGbwj */
:root {
    --stars-small: 1310px 229px #FEA, 52px 1519px #BCF, 564px 502px #CCD, 458px 286px #CCD, 1509px 210px #BCF, 1386px 1517px #BCF, 1828px 1117px #BCF, 179px 1210px #CCD, 865px 66px #CCD, 62px 192px #BCF, 448px 477px #CCD, 1035px 1233px #BCF, 55px 1150px #FEA, 408px 1467px #CCD, 1331px 1437px #CCD, 1117px 860px #CCD, 452px 920px #CCD, 1207px 570px #BCF, 1658px 1781px #BCF, 14px 1555px #FEA, 1651px 327px #BCF, 1430px 866px #BCF, 697px 570px #BCF, 319px 441px #BCF, 1961px 1564px #CCD, 690px 210px #BCF, 190px 779px #CCD, 199px 736px #CCD, 1736px 705px #BCF, 1237px 542px #FEA, 1653px 89px #BCF, 1495px 941px #FEA, 1099px 256px #CCD, 1993px 1889px #BCF, 776px 162px #BCF, 1131px 601px #BCF, 1699px 1288px #BCF, 1267px 1814px #CCD, 1765px 741px #FEA, 1183px 394px #FEA, 1443px 143px #CCD, 94px 1355px #CCD, 467px 1584px #CCD, 593px 164px #CCD, 1752px 477px #BCF, 1775px 207px #BCF, 779px 570px #BCF, 929px 1302px #CCD, 1709px 748px #CCD, 334px 759px #CCD, 728px 430px #CCD, 1373px 547px #CCD, 1438px 1919px #BCF, 1400px 1328px #BCF, 147px 1248px #CCD, 1301px 351px #BCF, 1094px 1494px #FEA, 502px 335px #CCD, 947px 778px #BCF, 553px 1896px #CCD, 1311px 1410px #BCF, 1141px 450px #CCD, 1403px 665px #CCD, 1727px 1574px #BCF, 1590px 115px #BCF, 470px 1684px #CCD, 66px 1649px #CCD, 647px 822px #BCF, 549px 136px #CCD, 433px 1871px #CCD, 1932px 1162px #CCD, 1795px 1471px #FEA, 645px 436px #BCF, 1343px 1023px #CCD, 811px 1812px #FEA, 1873px 1317px #CCD, 940px 293px #CCD, 543px 286px #CCD, 506px 1526px #CCD, 1150px 1104px #CCD, 539px 1530px #FEA, 1198px 878px #BCF, 1839px 1196px #FEA, 818px 742px #BCF, 450px 284px #CCD, 1044px 1011px #CCD, 187px 1548px #BCF, 97px 1764px #BCF, 225px 314px #FEA, 1286px 328px #BCF, 1623px 1394px #CCD, 865px 1222px #FEA, 131px 789px #CCD, 782px 1221px #CCD, 959px 1084px #BCF, 515px 1989px #BCF, 1134px 1763px #CCD, 1931px 24px #BCF, 1394px 1477px #CCD, 235px 1397px #FEA, 1813px 1100px #CCD, 1538px 547px #CCD, 1575px 1313px #CCD, 697px 229px #CCD, 602px 891px #CCD, 324px 930px #CCD, 7px 1954px #CCD, 1479px 1794px #CCD, 1474px 540px #CCD, 1991px 1026px #BCF, 1561px 366px #CCD, 1040px 1870px #CCD, 218px 1783px #BCF, 1281px 612px #CCD, 1724px 1309px #CCD, 1040px 1248px #CCD, 408px 314px #CCD, 766px 1562px #CCD, 331px 1105px #CCD, 1953px 1595px #BCF, 1890px 1087px #CCD, 1882px 2px #CCD, 1227px 664px #CCD, 1001px 40px #CCD, 230px 1903px #CCD, 744px 1800px #CCD, 1704px 1653px #BCF, 630px 491px #CCD, 119px 494px #CCD, 1799px 1162px #CCD, 1940px 162px #CCD, 176px 1499px #CCD, 996px 1672px #CCD, 142px 1558px #BCF, 1091px 1569px #CCD, 258px 263px #BCF, 1352px 974px #CCD, 1940px 1126px #FEA, 339px 543px #CCD, 1081px 1787px #CCD, 1243px 867px #CCD, 1976px 434px #CCD, 1903px 1105px #CCD, 1547px 1495px #BCF, 1413px 412px #CCD, 1461px 639px #BCF, 818px 1376px #BCF, 1331px 765px #FEA, 898px 1843px #BCF, 1060px 925px #CCD, 248px 508px #FEA, 461px 132px #BCF, 693px 44px #BCF, 1205px 1135px #FEA, 472px 1206px #FEA, 452px 15px #BCF, 146px 1450px #BCF, 1293px 121px #BCF, 469px 139px #CCD, 1855px 65px #BCF, 1761px 677px #CCD, 146px 1053px #FEA, 488px 571px #CCD, 1371px 995px #BCF, 439px 1105px #CCD, 271px 1482px #CCD, 1916px 1808px #CCD, 1170px 1181px #CCD, 969px 498px #CCD, 1607px 969px #CCD, 1654px 834px #FEA, 390px 194px #CCD, 199px 1350px #CCD, 883px 726px #FEA, 868px 842px #FEA, 957px 1770px #FEA, 1494px 111px #CCD, 1380px 1339px #CCD, 1324px 202px #BCF, 125px 825px #CCD, 1492px 695px #CCD, 1640px 1765px #CCD, 224px 510px #CCD, 393px 390px #CCD, 1099px 919px #CCD, 288px 865px #FEA, 376px 571px #BCF, 948px 512px #CCD, 1791px 1891px #CCD, 155px 908px #CCD, 1655px 1765px #CCD, 1754px 1128px #BCF, 201px 104px #CCD, 1336px 1108px #CCD, 1713px 31px #BCF, 1985px 192px #CCD, 1898px 1544px #CCD, 1739px 485px #CCD, 341px 833px #CCD, 995px 986px #CCD, 438px 1771px #CCD, 822px 1849px #FEA, 121px 338px #BCF, 777px 5px #CCD, 800px 544px #CCD, 1898px 1606px #CCD, 1608px 932px #CCD, 585px 867px #BCF, 1427px 1961px #CCD, 1497px 1605px #BCF, 1139px 1356px #FEA, 1472px 997px #CCD, 318px 389px #CCD, 608px 446px #CCD, 1984px 120px #BCF, 1187px 1507px #BCF, 1111px 125px #CCD, 1532px 643px #BCF, 118px 103px #CCD, 1197px 977px #CCD, 1030px 1883px #BCF, 1747px 1088px #CCD, 323px 117px #FEA, 1968px 1041px #CCD, 165px 1744px #CCD, 381px 141px #BCF, 1219px 140px #CCD, 1383px 1766px #CCD, 482px 827px #CCD, 246px 1929px #CCD, 1824px 1167px #CCD, 505px 1186px #CCD, 1218px 82px #CCD, 1269px 168px #CCD, 859px 1347px #BCF, 1196px 1158px #CCD, 1071px 648px #CCD, 1915px 535px #BCF, 419px 1372px #FEA, 1467px 644px #CCD, 489px 544px #CCD, 811px 269px #CCD, 1376px 1322px #FEA, 615px 937px #CCD, 648px 1903px #CCD, 1540px 1917px #BCF, 149px 20px #CCD, 939px 1273px #BCF, 1154px 205px #CCD, 151px 1102px #CCD, 437px 1037px #CCD, 544px 272px #CCD, 1912px 715px #CCD, 1805px 141px #CCD, 1801px 501px #CCD, 757px 584px #CCD, 324px 898px #CCD, 1708px 1113px #BCF, 1441px 620px #CCD, 1253px 1653px #CCD, 1340px 1084px #BCF, 17px 1368px #CCD, 1674px 1136px #CCD, 614px 1909px #CCD, 1359px 213px #CCD, 1923px 1799px #BCF, 276px 542px #CCD, 237px 1823px #CCD, 220px 1521px #FEA, 1134px 319px #CCD, 558px 578px #CCD, 1239px 432px #FEA, 1470px 703px #CCD, 417px 1408px #CCD, 1299px 1747px #CCD, 541px 1036px #BCF, 1001px 515px #CCD, 1855px 1860px #CCD, 1733px 105px #CCD, 190px 1300px #CCD, 868px 1699px #CCD, 567px 91px #CCD, 8px 684px #BCF, 1580px 268px #BCF, 1305px 537px #CCD, 331px 1519px #CCD, 905px 1130px #BCF, 1446px 876px #CCD, 1149px 20px #CCD, 230px 155px #CCD, 1936px 1809px #FEA, 1416px 1852px #BCF, 306px 1118px #CCD, 74px 1710px #BCF, 757px 1193px #CCD, 1132px 304px #CCD, 881px 262px #BCF, 86px 632px #CCD, 747px 1842px #BCF, 1911px 1631px #BCF, 1992px 1763px #CCD, 82px 1841px #CCD, 733px 431px #BCF, 1397px 512px #FEA, 1366px 211px #BCF, 725px 1598px #CCD, 1147px 1811px #CCD, 1792px 833px #CCD, 1995px 1272px #CCD, 1535px 317px #CCD, 1896px 1905px #CCD, 485px 1771px #BCF, 333px 2000px #CCD, 1639px 1661px #BCF, 363px 1806px #CCD, 845px 51px #CCD, 368px 1509px #CCD, 1894px 681px #CCD, 1603px 1907px #CCD, 844px 1643px #CCD, 1372px 1770px #CCD, 1506px 1661px #BCF, 509px 547px #CCD, 327px 1613px #CCD, 1437px 222px #FEA, 784px 1787px #CCD, 80px 1759px #CCD, 964px 456px #CCD, 409px 1673px #CCD, 1881px 943px #CCD, 717px 626px #CCD, 1681px 1629px #BCF, 1785px 467px #CCD, 457px 49px #CCD, 1352px 396px #CCD, 817px 673px #CCD, 571px 1771px #CCD, 143px 1981px #CCD, 1584px 572px #CCD, 720px 1314px #CCD, 1044px 819px #CCD, 1392px 1728px #CCD, 1099px 679px #CCD, 1924px 57px #BCF, 237px 1797px #CCD, 1988px 535px #FEA, 366px 1190px #CCD, 1972px 544px #CCD, 79px 223px #FEA, 1222px 890px #CCD, 708px 1493px #CCD, 1611px 643px #CCD, 894px 1242px #CCD, 1048px 237px #CCD, 789px 1843px #CCD, 1181px 390px #CCD, 522px 91px #CCD, 1452px 894px #CCD, 4px 1065px #CCD, 1896px 1652px #CCD, 1103px 1407px #CCD, 1474px 1926px #CCD, 1520px 1510px #FEA, 1374px 404px #CCD, 746px 884px #BCF, 144px 1944px #CCD, 1361px 1886px #CCD, 677px 1277px #CCD, 643px 1359px #CCD, 1737px 256px #CCD, 1475px 1844px #CCD, 616px 1039px #BCF, 634px 1366px #CCD, 837px 669px #BCF, 825px 1428px #CCD, 606px 1136px #CCD, 261px 393px #CCD, 862px 1362px #CCD, 1926px 777px #BCF, 1388px 1533px #CCD, 1849px 357px #BCF, 1261px 1166px #CCD, 617px 832px #CCD, 1123px 1708px #CCD, 1px 623px #CCD, 588px 431px #BCF, 881px 1610px #CCD, 1188px 1243px #CCD, 1341px 660px #CCD, 953px 905px #CCD, 906px 1384px #CCD, 438px 1047px #CCD, 970px 1626px #FEA, 1846px 1966px #BCF, 1631px 1508px #BCF, 348px 1350px #CCD, 174px 582px #CCD, 1056px 1360px #CCD, 1297px 1269px #BCF, 687px 192px #CCD;
    --stars-medium: 1677px 1950px #CCD, 1539px 482px #BCF, 1378px 636px #BCF, 461px 1652px #CCD, 408px 302px #CCD, 51px 95px #CCD, 502px 974px #BCF, 1252px 1741px #BCF, 1574px 150px #FEA, 933px 849px #BCF, 1815px 1290px #BCF, 1179px 399px #BCF, 1472px 1427px #BCF, 787px 1013px #BCF, 819px 500px #CCD, 303px 1344px #BCF, 1409px 12px #CCD, 1829px 1538px #BCF, 1763px 1578px #BCF, 1814px 219px #BCF, 1595px 871px #CCD, 449px 361px #BCF, 1647px 1962px #BCF, 1426px 1061px #BCF, 952px 103px #BCF, 1142px 511px #CCD, 1879px 1738px #BCF, 249px 935px #BCF, 274px 1642px #FEA, 952px 1368px #CCD, 1088px 1145px #BCF, 1220px 650px #CCD, 1946px 1547px #BCF, 1826px 907px #CCD, 1255px 1670px #BCF, 1474px 1827px #BCF, 1034px 874px #BCF, 1702px 1858px #BCF, 1123px 914px #BCF, 1838px 326px #BCF, 1524px 1765px #FEA, 973px 922px #BCF, 531px 1540px #BCF, 507px 1721px #CCD, 1306px 568px #BCF, 1569px 1593px #BCF, 1068px 993px #BCF, 1284px 490px #BCF, 563px 901px #BCF, 159px 1462px #BCF, 586px 481px #CCD, 557px 688px #CCD, 655px 1829px #BCF, 1107px 166px #FEA, 284px 309px #CCD, 474px 785px #CCD, 1422px 313px #CCD, 1447px 439px #CCD, 132px 850px #BCF, 835px 678px #CCD, 1112px 955px #CCD, 852px 128px #CCD, 424px 1706px #BCF, 861px 798px #CCD, 1854px 1577px #CCD, 1197px 1938px #BCF, 1425px 41px #CCD, 1755px 1804px #CCD, 1568px 1180px #BCF, 780px 977px #BCF, 13px 1931px #CCD, 721px 612px #BCF, 1544px 799px #BCF, 1748px 1827px #FEA, 1953px 1712px #BCF, 859px 1103px #FEA, 1531px 1505px #FEA, 1119px 1639px #CCD, 1236px 1839px #BCF, 452px 1000px #BCF, 450px 559px #CCD, 893px 995px #FEA, 60px 797px #BCF, 689px 1370px #CCD, 1391px 1635px #BCF, 829px 1484px #BCF, 339px 1722px #CCD, 958px 1884px #CCD, 262px 1275px #CCD, 1094px 56px #BCF, 1858px 807px #BCF, 1213px 1156px #BCF, 1358px 56px #CCD, 172px 1317px #BCF, 878px 278px #CCD, 1776px 946px #BCF, 373px 103px #BCF, 533px 777px #CCD, 671px 434px #BCF, 932px 670px #CCD, 692px 1559px #FEA, 1802px 777px #CCD, 570px 1541px #BCF, 1949px 1704px #BCF, 864px 517px #BCF, 1710px 168px #CCD, 964px 40px #CCD, 1535px 1105px #CCD, 107px 1950px #CCD, 717px 460px #CCD, 1332px 141px #BCF, 1600px 1961px #BCF, 1335px 83px #BCF, 1545px 64px #BCF, 1945px 507px #BCF, 409px 1719px #FEA, 42px 1273px #FEA, 313px 489px #CCD, 259px 970px #CCD, 1372px 235px #FEA, 1156px 1942px #CCD, 447px 953px #FEA, 1433px 525px #BCF, 1571px 756px #BCF, 344px 1241px #BCF, 1244px 1974px #BCF, 1532px 1472px #BCF, 235px 1593px #BCF, 1678px 336px #BCF, 1976px 638px #CCD, 222px 1186px #CCD, 53px 1903px #CCD, 639px 1180px #BCF, 1388px 1860px #CCD, 1963px 769px #BCF, 813px 1929px #BCF, 1465px 407px #CCD, 156px 1213px #BCF, 1415px 1702px #FEA, 1285px 498px #CCD, 209px 1428px #BCF, 1583px 618px #BCF, 1742px 1402px #BCF, 1230px 1650px #BCF, 248px 1631px #CCD, 1160px 1603px #BCF, 85px 712px #BCF, 1092px 878px #BCF, 1355px 759px #FEA, 142px 1037px #BCF;
    --stars-big: 1327px 699px #FEA, 26px 1740px #CCD, 861px 1685px #FEA, 1004px 217px #CCD, 888px 1968px #BCF, 742px 1302px #FEA, 1826px 1698px #BCF, 942px 1449px #BCF, 314px 892px #FEA, 361px 1503px #BCF, 1069px 1978px #FEA, 1333px 554px #BCF, 1262px 1656px #BCF, 1884px 1103px #FEA, 1587px 991px #BCF, 953px 893px #BCF, 1692px 1498px #FEA, 1214px 550px #FEA, 661px 1745px #BCF, 503px 1702px #BCF, 1915px 178px #FEA, 572px 1806px #BCF, 924px 500px #BCF, 1537px 952px #BCF, 1168px 1250px #FEA, 1369px 777px #BCF, 689px 59px #FEA, 1013px 1743px #BCF, 666px 373px #BCF, 999px 435px #FEA, 727px 1634px #FEA, 530px 698px #CCD, 573px 1803px #FEA, 1221px 1437px #FEA, 1803px 566px #BCF, 1139px 21px #CCD, 1059px 1942px #BCF, 392px 176px #FEA, 495px 1475px #BCF, 833px 1001px #FEA, 1138px 1553px #BCF, 493px 1415px #CCD, 976px 1323px #FEA, 1458px 1006px #FEA, 918px 1624px #FEA, 36px 191px #BCF, 603px 454px #BCF, 829px 1417px #FEA, 499px 628px #FEA, 1360px 1192px #BCF, 756px 970px #FEA, 1134px 1088px #BCF, 705px 872px #BCF, 1528px 1128px #FEA, 678px 721px #CCD, 1440px 930px #BCF, 555px 628px #FEA, 515px 473px #BCF, 248px 1478px #FEA, 395px 647px #FEA;
}

html {
    background-color: var(--bg-dark);
    height: fit-content;
}

.background-glow {
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at top left, var(--bg-light) 0%, var(--bg-dark) 65%) no-repeat;
    position: absolute;
    display: inline-block;
}

#stars-small,
#stars-small::after {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: var(--stars-small);
}

#stars-small {
    animation: animStar 550s linear infinite;
}

    #stars-small::after {
        content: " ";
        position: absolute;
        top: -2000px;
    }

#stars-medium,
#stars-medium::after {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: var(--stars-medium);
}

#stars-medium {
    animation: animStar 650s linear infinite;
}

    #stars-medium::after {
        content: " ";
        position: absolute;
        top: -2000px;
    }

#stars-large,
#stars-large::after {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: var(--stars-big);
}

#stars-large {
    animation: animStar 750s linear infinite;
}

    #stars-large::after {
        content: " ";
        position: absolute;
        top: -2000px;
    }

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(2000px);
    }
}

.planet-spinner {
    width: 100%;
    min-height: 5rem;
}

    .planet-spinner .planet-solid, .planet-spinner .planet-ring-1, .planet-spinner .planet-ring-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
    }

    .planet-spinner .planet-solid {
        width: 1.5rem;
        height: 1.5rem;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle at 25% 25%, var(--info) 10%, var(--bg-dark) 65%);
    }

    .planet-spinner .planet-ring-1 {
        width: 4.8rem;
        height: 4.8rem;
        margin: -2.4rem 0 0 -2.4rem;
        z-index: 1;
        border: 5px solid var(--secondary);
        transform: rotate(45deg);
        animation: planetRing1 2s infinite cubic-bezier(0.76, 0, 0.24, 1);
    }

    .planet-spinner .planet-ring-2 {
        width: 3rem;
        height: 3rem;
        margin: -1.5rem 0 0 -1.5rem;
        border: 5px solid var(--primary);
        transform: rotate(-45deg);
        animation: planetRing2 2s .3s infinite cubic-bezier(0.76, 0, 0.24, 1);
    }

@keyframes planetRing1 {
    0% {
        transform: rotate(45deg) scaleY(1);
    }

    50% {
        transform: rotate(45deg) scaleY(-1);
    }
}

@keyframes planetRing2 {
    0% {
        transform: rotate(-45deg) scaleY(1);
    }

    50% {
        transform: rotate(-45deg) scaleY(-1);
    }
}
