:root {
    --rspacing-1: 0.2rem;
    --rspacing-2: 0.5rem;
    --rspacing-3: 0.75rem;
    --rspacing-4: 1.0rem;
    --rspacing-5: 2.0rem;
    --rspacing-6: 3.0rem;
    --espacing-1: 0.2em;
    --espacing-2: 0.5em;
    --espacing-3: 0.75em;
    --espacing-4: 1.0em;
    --espacing-5: 2.0em;
    --espacing-6: 3.0em;
    --outline-color: #FFFFFF20;
    --hover-color: #067ea2;
    --transparent-white: #FFFFFF00;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: var(--rspacing-1) !important;
}

.m-2 {
    margin: var(--rspacing-2) !important;
}

.m-3 {
    margin: var(--rspacing-3) !important;
}

.m-4 {
    margin: var(--rspacing-4) !important;
}

.m-5 {
    margin: var(--rspacing-5) !important;
}

.m-6 {
    margin: var(--rspacing-6) !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: var(--rspacing-1) !important;
}

.mt-2 {
    margin-top: var(--rspacing-2) !important;
}

.mt-3 {
    margin-top: var(--rspacing-3) !important;
}

.mt-4 {
    margin-top: var(--rspacing-4) !important;
}

.mt-5 {
    margin-top: var(--rspacing-5) !important;
}

.mt-6 {
    margin-top: var(--rspacing-6) !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: var(--rspacing-1) !important;
}

.mb-2 {
    margin-bottom: var(--rspacing-2) !important;
}

.mb-3 {
    margin-bottom: var(--rspacing-3) !important;
}

.mb-4 {
    margin-bottom: var(--rspacing-4) !important;
}

.mb-5 {
    margin-bottom: var(--rspacing-5) !important;
}

.mb-6 {
    margin-bottom: var(--rspacing-6) !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: var(--rspacing-1) !important;
}

.ml-2 {
    margin-left: var(--rspacing-2) !important;
}

.ml-3 {
    margin-left: var(--rspacing-3) !important;
}

.ml-4 {
    margin-left: var(--rspacing-4) !important;
}

.ml-5 {
    margin-left: var(--rspacing-5) !important;
}

.ml-6 {
    margin-left: var(--rspacing-6) !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: var(--rspacing-1) !important;
}

.mr-2 {
    margin-right: var(--rspacing-2) !important;
}

.mr-3 {
    margin-right: var(--rspacing-3) !important;
}

.mr-4 {
    margin-right: var(--rspacing-4) !important;
}

.mr-5 {
    margin-right: var(--rspacing-5) !important;
}

.mr-6 {
    margin-right: var(--rspacing-6) !important;
}
