:root {
    --rspacing-1: 0.2rem;
    --rspacing-2: 0.5rem;
    --rspacing-3: 0.75rem;
    --rspacing-4: 1.0rem;
    --rspacing-5: 2.0rem;
    --rspacing-6: 3.0rem;
    --espacing-1: 0.2em;
    --espacing-2: 0.5em;
    --espacing-3: 0.75em;
    --espacing-4: 1.0em;
    --espacing-5: 2.0em;
    --espacing-6: 3.0em;
    --outline-color: #FFFFFF20;
    --hover-color: #21ADD7;
    --border-hover-color: #067ea2;
    --transparent-white: #FFFFFF00;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: var(--rspacing-1) !important;
}

.m-2 {
    margin: var(--rspacing-2) !important;
}

.m-3 {
    margin: var(--rspacing-3) !important;
}

.m-4 {
    margin: var(--rspacing-4) !important;
}

.m-5 {
    margin: var(--rspacing-5) !important;
}

.m-6 {
    margin: var(--rspacing-6) !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: var(--rspacing-1) !important;
}

.mt-2 {
    margin-top: var(--rspacing-2) !important;
}

.mt-3 {
    margin-top: var(--rspacing-3) !important;
}

.mt-4 {
    margin-top: var(--rspacing-4) !important;
}

.mt-5 {
    margin-top: var(--rspacing-5) !important;
}

.mt-6 {
    margin-top: var(--rspacing-6) !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: var(--rspacing-1) !important;
}

.mb-2 {
    margin-bottom: var(--rspacing-2) !important;
}

.mb-3 {
    margin-bottom: var(--rspacing-3) !important;
}

.mb-4 {
    margin-bottom: var(--rspacing-4) !important;
}

.mb-5 {
    margin-bottom: var(--rspacing-5) !important;
}

.mb-6 {
    margin-bottom: var(--rspacing-6) !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: var(--rspacing-1) !important;
}

.ml-2 {
    margin-left: var(--rspacing-2) !important;
}

.ml-3 {
    margin-left: var(--rspacing-3) !important;
}

.ml-4 {
    margin-left: var(--rspacing-4) !important;
}

.ml-5 {
    margin-left: var(--rspacing-5) !important;
}

.ml-6 {
    margin-left: var(--rspacing-6) !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: var(--rspacing-1) !important;
}

.mr-2 {
    margin-right: var(--rspacing-2) !important;
}

.mr-3 {
    margin-right: var(--rspacing-3) !important;
}

.mr-4 {
    margin-right: var(--rspacing-4) !important;
}

.mr-5 {
    margin-right: var(--rspacing-5) !important;
}

.mr-6 {
    margin-right: var(--rspacing-6) !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: var(--rspacing-1) !important;
}

.p-2 {
    padding: var(--rspacing-2) !important;
}

.p-3 {
    padding: var(--rspacing-3) !important;
}

.p-4 {
    padding: var(--rspacing-4) !important;
}

.p-5 {
    padding: var(--rspacing-5) !important;
}

.p-6 {
    padding: var(--rspacing-6) !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: var(--rspacing-1) !important;
}

.pt-2 {
    padding-top: var(--rspacing-2) !important;
}

.pt-3 {
    padding-top: var(--rspacing-3) !important;
}

.pt-4 {
    padding-top: var(--rspacing-4) !important;
}

.pt-5 {
    padding-top: var(--rspacing-5) !important;
}

.pt-6 {
    padding-top: var(--rspacing-6) !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: var(--rspacing-1) !important;
}

.pb-2 {
    padding-bottom: var(--rspacing-2) !important;
}

.pb-3 {
    padding-bottom: var(--rspacing-3) !important;
}

.pb-4 {
    padding-bottom: var(--rspacing-4) !important;
}

.pb-5 {
    padding-bottom: var(--rspacing-5) !important;
}

.pb-6 {
    padding-bottom: var(--rspacing-6) !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: var(--rspacing-1) !important;
}

.pl-2 {
    padding-left: var(--rspacing-2) !important;
}

.pl-3 {
    padding-left: var(--rspacing-3) !important;
}

.pl-4 {
    padding-left: var(--rspacing-4) !important;
}

.pl-5 {
    padding-left: var(--rspacing-5) !important;
}

.pl-6 {
    padding-left: var(--rspacing-6) !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: var(--rspacing-1) !important;
}

.pr-2 {
    padding-right: var(--rspacing-2) !important;
}

.pr-3 {
    padding-right: var(--rspacing-3) !important;
}

.pr-4 {
    padding-right: var(--rspacing-4) !important;
}

.pr-5 {
    padding-right: var(--rspacing-5) !important;
}

.pr-6 {
    padding-right: var(--rspacing-6) !important;
}

.w-100 {
    width: 100% !important;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.w-25 {
    width: 25% !important;
}

.page {
    margin-top: calc(var(--nav-height) + 1rem);
}

.grid-12 {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--rspacing-2);
}

.grid-12 .centered {
    grid-column: 1 / span 12;
}

@media (min-width: 768px) {
    .grid-12 .centered {
        grid-column: 3 / span 8;
    }
}

@media (min-width: 1024px) {
    .grid-12 .centered {
        grid-column: 4 / span 6;
    }
}

.col-s-1 {
    grid-column-end: span 1;
}

.col-s-2 {
    grid-column-end: span 2;
}

.col-s-3 {
    grid-column-end: span 3;
}

.col-s-4 {
    grid-column-end: span 4;
}

.col-s-5 {
    grid-column-end: span 5;
}

.col-s-6 {
    grid-column-end: span 6;
}

.col-s-7 {
    grid-column-end: span 7;
}

.col-s-8 {
    grid-column-end: span 8;
}

.col-s-9 {
    grid-column-end: span 9;
}

.col-s-10 {
    grid-column-end: span 10;
}

.col-s-11 {
    grid-column-end: span 11;
}

.col-s-12 {
    grid-column-end: span 12;
}

@media (min-width: 768px) {
    .col-m-1 {
        grid-column-end: span 1;
    }

    .col-m-2 {
        grid-column-end: span 2;
    }

    .col-m-3 {
        grid-column-end: span 3;
    }

    .col-m-4 {
        grid-column-end: span 4;
    }

    .col-m-5 {
        grid-column-end: span 5;
    }

    .col-m-6 {
        grid-column-end: span 6;
    }

    .col-m-7 {
        grid-column-end: span 7;
    }

    .col-m-8 {
        grid-column-end: span 8;
    }

    .col-m-9 {
        grid-column-end: span 9;
    }

    .col-m-10 {
        grid-column-end: span 10;
    }

    .col-m-11 {
        grid-column-end: span 11;
    }

    .col-m-12 {
        grid-column-end: span 12;
    }
}

@media (min-width: 1024px) {
    .col-l-1 {
        grid-column-end: span 1;
    }

    .col-l-2 {
        grid-column-end: span 2;
    }

    .col-l-3 {
        grid-column-end: span 3;
    }

    .col-l-4 {
        grid-column-end: span 4;
    }

    .col-l-5 {
        grid-column-end: span 5;
    }

    .col-l-6 {
        grid-column-end: span 6;
    }

    .col-l-7 {
        grid-column-end: span 7;
    }

    .col-l-8 {
        grid-column-end: span 8;
    }

    .col-l-9 {
        grid-column-end: span 9;
    }

    .col-l-10 {
        grid-column-end: span 10;
    }

    .col-l-11 {
        grid-column-end: span 11;
    }

    .col-l-12 {
        grid-column-end: span 12;
    }
}

.col-start-s-1 {
    grid-column-start: 1;
}

.col-start-s-2 {
    grid-column-start: 2;
}

.col-start-s-3 {
    grid-column-start: 3;
}

.col-start-s-4 {
    grid-column-start: 4;
}

.col-start-s-5 {
    grid-column-start: 5;
}

.col-start-s-6 {
    grid-column-start: 6;
}

.col-start-s-7 {
    grid-column-start: 7;
}

.col-start-s-8 {
    grid-column-start: 8;
}

.col-start-s-9 {
    grid-column-start: 9;
}

.col-start-s-10 {
    grid-column-start: 10;
}

.col-start-s-11 {
    grid-column-start: 11;
}

.col-start-s-12 {
    grid-column-start: 12;
}

@media (min-width: 768px) {
    .col-start-m-1 {
        grid-column-start: 1;
    }

    .col-start-m-2 {
        grid-column-start: 2;
    }

    .col-start-m-3 {
        grid-column-start: 3;
    }

    .col-start-m-4 {
        grid-column-start: 4;
    }

    .col-start-m-5 {
        grid-column-start: 5;
    }

    .col-start-m-6 {
        grid-column-start: 6;
    }

    .col-start-m-7 {
        grid-column-start: 7;
    }

    .col-start-m-8 {
        grid-column-start: 8;
    }

    .col-start-m-9 {
        grid-column-start: 9;
    }

    .col-start-m-10 {
        grid-column-start: 10;
    }

    .col-start-m-11 {
        grid-column-start: 11;
    }

    .col-start-m-12 {
        grid-column-start: 12;
    }
}

@media (min-width: 1024px) {
    .col-start-l-1 {
        grid-column-start: 1;
    }

    .col-start-l-2 {
        grid-column-start: 2;
    }

    .col-start-l-3 {
        grid-column-start: 3;
    }

    .col-start-l-4 {
        grid-column-start: 4;
    }

    .col-start-l-5 {
        grid-column-start: 5;
    }

    .col-start-l-6 {
        grid-column-start: 6;
    }

    .col-start-l-7 {
        grid-column-start: 7;
    }

    .col-start-l-8 {
        grid-column-start: 8;
    }

    .col-start-l-9 {
        grid-column-start: 9;
    }

    .col-start-l-10 {
        grid-column-start: 10;
    }

    .col-start-l-11 {
        grid-column-start: 11;
    }

    .col-start-l-12 {
        grid-column-start: 12;
    }
}
