@import "./modules/_reset.css";
@import "./modules/_starfield.css";
@import "./modules/_utility.css";
@import "./modules/_typography.css";
@import "./modules/_nav.css";
@import "./modules/_cards.css";
@import "./modules/_accordion.css";

/* GIFTS - Temp (remove when done) */

ul.gift-list li {
    position: relative;
    padding: var(--rspacing-1) 0 var(--rspacing-2);
    transition: color 0.2s ease-in-out;
}

    ul.gift-list li a:hover {
        color: var(--hover-color);
    }

    ul.gift-list li:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 75%;
        border-bottom: 1px solid var(--border-transparent);
    }

.beacon-content:not(:last-child) {
    margin-bottom: var(--rspacing-3);
}

.link-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .link-title-container .link-favicon {
        height: 16px;
        width: 16px;
        transition: margin-right 0.3s ease-in-out;
    }

    .link-title-container:hover {
        cursor: pointer;
        color: var(--hover-color);
    }

        .link-title-container:hover .link-favicon {
            margin-right: var(--rspacing-3);
        }
