@import "./modules/_reset.css";
@import "./modules/_starfield.css";
@import "./modules/_utility.css";
@import "./modules/_topography.css";
@import "./modules/_nav.css";
@import "./modules/_cards.css";
@import "./modules/_accordion.css";

ul.gift-list li {
    position: relative;
    padding: var(--rspacing-1) 0 var(--rspacing-2);
    transition: color 0.2s ease-in-out;
}

    ul.gift-list li a:hover {
        color: var(--hover-color);
    }

    ul.gift-list li:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 75%;
        border-bottom: 1px solid var(--border-color);
    }
